<!-- in the spirit of creating an MVP, I'll do the styling later, if/when necessary-->

<h1>Disrupt SMS!</h1>
<p>Text a phone. Available in US only, for Twilio users only.</p>

<%= form_tag("/sms/send", method: "post") do %>
  <%= label_tag(:p, "Destination phone number:") %>
  <%= text_field_tag(:phone) %>
  <p></p>
  <%= label_tag(:m, "Type message:") %>
  <%= text_field_tag(:msg) %>
  <p></p>
  <%= submit_tag("Send") %>
<% end %>
