<!-- in the spirit of creating an MVP, I'll do the styling later /when necessary-->

<h1>Margaryta's SMS app</h1>
<p>Message a phone via this web page</p>

<%= form_tag("/sms/send", method: "post") do %>
  <%= label_tag(:p, "Destination phone number:") %>
  <%= text_field_tag(:phone) %>
  <p></p>
  <%= label_tag(:m, "Type message:") %>
  <%= text_field_tag(:msg) %>
  <p></p>
  <%= submit_tag("Send") %>
<% end %>
